/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
/* CSSReset */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	list-style: none;
	font-family: Whitney, "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-decoration: none;
}

.root {
}

.splash {
	background-color: #202225;
	min-height: 100vh;
	overflow: hidden;
	height: 100%;
}

.nav-foreground {
	background-attachment: transparent;
	z-index: 30;
	width: 100%;
}
.nav-anchor {
	display: block;
	box-sizing: border-box;
	color: #fff;
	font-size: 14px;
	font-weight: 400;
	height: 72px;
	padding: 8px 0;
	position: relative;
	width: 100%;
	z-index: 56;
}

.nav-desktop {
	display: flex;
	margin: 0 auto;
	padding: 0 30px;
	position: relative;
	height: 100%;
	align-items: center;
	justify-content: center;
	min-width: 500px;
	max-width: 1600px;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}

.nav-logo {
	flex: 0 0 auto;
	display: flex;
}

.nav-icon-container {
	flex-shrink: 1;
	flex-grow: 1;
	flex-basis: auto;
	flex-wrap: nowrap;
	justify-content: flex-start;
}

.nav-gamepad {
	flex-grow: 0;
	flex-shrink: 0;
	height: 36px;
	width: 33px;
}
.nav-discord {
	flex-grow: 0;
	flex-shrink: 0;
	width: 98px;
	height: 36px;
}

.nav-dropdowns {
	align-items: center;
	list-style: none;
	display: flex;
	flex: 1 0 auto;
	padding: 0;
	margin: 0;
	min-height: 56px;
}
.nav-list-item {
	display: inline-block;
	position: relative;
	font-size: 14px;
	margin-right: 8px;
	padding: 15px 10px;
	margin-bottom: 5px;
}

.nav-right {
	display: flex;
	align-items: center;
	flex: 0 1 auto;
	margin-left: auto;
}

.social-media {
	opacity: 0.8;
	top: 3px;
	padding: 15px 10px 15px 0;
	margin-right: 8px;
	font-weight: 400;
	text-decoration: none;
	position: relative;
}

.social-media:hover {
	opacity: 1;
}
.home-button-link {
	opacity: 0.8;
}

.home-button {
	display: inline-block;
}

.home-button-link:hover {
	opacity: 1;
}

.home-button-link {
	color: #fff;
	top: 0;
	border: 2px solid hsla(0, 0%, 100%, 0.8);
	padding: 5px 17px 7px;
	border-radius: 20px;
	line-height: 24px;
	margin-right: 18px;
}

.hero {
	height: 100%;
	border-bottom: none;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	justify-content: center;
	padding: 72px 0;
}

.welcome {
	display: hidden;
	box-sizing: border-box;
	padding: 72px 50px 0;
	max-width: 1200px;
	position: relative;
	z-index: 1;
}

.elevator {
	color: #fff;
	font-weight: 700;
	font-size: 36px;
	line-height: 44px;
	margin: 0;
}

.pitch {
	color: hsla(0, 0%, 100%, 0.6);
	margin-bottom: 30px;
	max-width: 710px;
	font-weight: 400;
	color: #737f8d;
	font-size: 16px;
	line-height: 24px;
	margin-top: 12px;
}

.splash-buttons {
	display: flex;
	justify-content: center;
	flex: 1;
}

.demo-holder {
	font-size: 15px;
	display: -ms-flexbox;
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: 500;
	padding: 0;
	position: relative;
	z-index: 1;
	border-radius: 3px;
	box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2);
	margin-right: 40px;
	height: 45px;
	width: 250px;
}

.demo-login {
	flex: 1 1 auto;
	border-radius: 3px;
	background: #fff;
	border: 0;
	color: inherit;
	cursor: pointer;
	font-size: inherit;
	font-weight: inherit;
	height: 100%;
	outline: none;
	position: relative;
	top: -1px;
	width: 250px;
	box-sizing: border-box;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	flex-direction: row;
}
